name: cd

on:
  push:
    branches: [main]

jobs: 
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: check out code
        uses: actions/checkout@v4
      
      - name: Install Dependencies
        run: npm ci 

      - name: Build Project
        run: npm run build
